<ion-view view-title="Profile">
    <ion-content>
        <div class="card">
            <div class="item item-avatar">
                <b-img public-id="{{user.photo}}" transformation="w_40,h_40,c_thumb,g_face" alt="Pic" class="img-thumbnail"></b-img>
                <h2 ng-bind="user.name"></h2>
                <p>Joined: {{::user.createdAt | date:'MM/dd/yyyy'}}</p>
            </div>
            <div class="item item-body">
                <div class="row">
                    <div class="col">
                        <label>Email:</label>
                    </div>
                    <div class="col">
                        <a href="mailto:{{user.email}}" ng-bind="user.email">
                        </a>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <label>Address:</label>
                    </div>
                    <div class="col">
                        {{::user.address}}
                        <br /> {{::user.city}} <span ng-if="user.state">,</span> {{::user.state}} {{::user.zip}}
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <label>Phone:</label>
                    </div>
                    <div class="col" ng-bind="user.phone | tel">
                    </div>
                </div>
            </div>
            <a ui-sref="app.userEdit({id: user._id})" class="item item-icon-left item-icon-right">
                <i class="icon ion-edit"></i> Edit
                <i class="icon ion-ios-arrow-right"></i>
            </a>
            <a ui-sref="app.userInvest({id: user._id})" class="item item-icon-left item-icon-right">
                <i class="icon ion-stats-bars"></i> Investments
                <i class="icon ion-ios-arrow-right"></i>
            </a>
            <a ui-sref="app.userRent({id: user._id})" class="item item-icon-left item-icon-right">
                <i class="icon ion-calendar"></i> Rents
                <i class="icon ion-ios-arrow-right"></i>
            </a>
            <a ng-if="!Auth.isMine(user._id)" ui-sref="app.chatCreate({user_id: user._id})" class="item item-icon-left item-icon-right">
                <i class="icon ion-ios-chatboxes-outline"></i> Chat
                <i class="icon ion-ios-arrow-right"></i>
            </a>
        </div>
    </ion-content>
</ion-view>
