<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view view-title="Messages">
    <ion-content class="padding">
        <!-- <img ng-src="{{chat.face}}" style="width: 64px; height: 64px">
<p>
    {{chat.lastText}}
</p>
 -->
        <div class="chat-container">
            <div ng-repeat="message in chatDetail.messages" class="chat-message" ng-class="{'chat-message-sent': message.sent, 'chat-message-received': !message.sent}">
                <div class="chat-message-container">
                    <div class="chat-inline">
                        <div class="chat-message-avatar">
                            <a ui-sref="app.userView({id: message.user_id})">
                                <b-img public-id="{{message.photo}}" transformation="w_40,h_40,c_thumb,g_face" alt="Pic" class="chat-message-avatar-img"></b-img>
                            </a>
                        </div>
                        <div class="chat-message-bubble">
                            <!-- TODO if not multiple don't show this -->
                            <div class="chat-message-name">{{message.name}}:</div>
                            <div class="chat-message-text">{{message.text}}</div>
                        </div>
                    </div>
                    <div class="chat-message-footer">
                        {{message.createdAt | date:'M/d/yy h:mm:ss a'}}
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
    <ion-footer-bar class="bar-light" data-keyboard-attach>
        <form class="item item-input-inset" id="chat-footer-wrapper">
            <!-- todo:  image picker - we only send the text of the image url
             -->
            <!--  <b-input type="file" model="user.photo" transformation="w_100,h_100,c_thumb,g_face"></b-input> -->
            <div class="item-input-wrapper">
                <!-- TODO image -->
                <input type="text" placeholder="Message" id="chat-footer-text-input" ng-model="messageText">
            </div>
            <button class="button button-small button-stable" ng-click="sendMessage() ">Send</button>
        </form>
    </ion-footer-bar>
</ion-view>
