<ion-view view-title="Todo">
    <ion-nav-buttons side="secondary">
        <button class="button button button-icon" ng-click="newTask()">
            <i class="icon ion-compose"></i>
        </button>
    </ion-nav-buttons>
    <ion-content>
        <ion-list delegate-handle="task-list">
            <ion-item ng-repeat="task in tasks">
                <h2>{{task.name}}</h2>
                <p>{{task.hoursWorkedOn}}</p>
                <ion-option-button class="button-info" ng-click="edit(task)">
                    Edit
                </ion-option-button>
                <ion-option-button class="button-assertive" ng-click="delete($index, task)">
                    Delete
                </ion-option-button>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
