<div class="button button-block button-positive" ng-click="actionSheet()">Select</div>
<div ng-if="(!!multiple)" ng-repeat="image in images">
    <div class="progress file-upload-progress" ng-show="image.progress >= 0 && image.progress < 100">
        <div class="progress-bar progress-bar-success" ng-class="{'progress-bar-striped active': image.progress < 100}" role="progressbar" aria-valuenow="{{image.progress}}" aria-valuemin="0" aria-valuemax="100" style="width: {{image.progress}}%;">
            {{image.progress}}%
        </div>
    </div>
    <b-img ng-click="removeMenu($index)" ng-if="ngModel" public-id="{{ngModel[$index]}}" transformation="{{transformation}}" alt="Upload Preview"></b-img>
</div>
<div ng-if="!(!!multiple)">
    <div class="progress file-upload-progress" ng-show="image.progress >= 0 && image.progress < 100">
        <div class="progress-bar progress-bar-success" ng-class="{'progress-bar-striped active': image.progress < 100}" role="progressbar" aria-valuenow="{{image.progress}}" aria-valuemin="0" aria-valuemax="100" style="width: {{image.progress}}%;">
            {{image.progress}}%
        </div>
    </div>
    <b-img ng-click="removeMenu()" ng-if="ngModel" public-id="{{ngModel}}" transformation="{{transformation}}" alt="Upload Preview"></b-img>
</div>
