<ion-view view-title="Change Password">
    <ion-content>
        <div class="row">
            <div class="col">
                <form class="form" name="form" ng-submit="changePassword(form)" novalidate>
                    <label class="item item-input">
                        <span class="input-label">Current Password</span>
                        <input type="password" name="password" class="form-control" ng-model="user.oldPassword" mongoose-error/>
                    </label>
                    <div class="error" ng-show="form.password.$error.mongoose">
                        {{ errors.other }}
                    </div>
                    <label class="item item-input">
                        <span class="input-label">New Password</span>
                        <input type="password" name="newPassword" class="form-control" ng-model="user.newPassword" ng-minlength="3" required/>
                    </label>
                    <div class="error" ng-show="(form.newPassword.$error.minlength || form.newPassword.$error.required) && (form.newPassword.$dirty || submitted)">
                        Password must be at least 3 characters.
                    </div>
                    <p class="error"> {{ message }} </p>
                    <button class="button button-block button-positive" type="submit">Save</button>
                </form>
            </div>
        </div>
    </ion-content>
</ion-view>
