<ion-view view-title="Features">
    <ion-content>
        <div class="list">
            <a ng-if="Auth.isAdmin()" href="#/app/propertyAddEditFeatures/edit/{{property._id}}" class="item item-icon-left item-icon-right">
                <i class="icon ion-edit"></i> Edit
                <i class="icon ion-ios-arrow-right"></i>
            </a>
        </div>
        <div class="list" ng-repeat="featureRow in property.features">
            <div class="item">
                {{::featureRow[0].text}}
            </div>
            <div class="item">
                {{::featureRow[1].text}}
            </div>
            <div class="item">
                {{::featureRow[2].text}}
            </div>
        </div>
    </ion-content>
</ion-view>
