<ion-view>
    <ion-nav-buttons side="right">
        <div class="item-input-inset">
            <button class="button button-light" ng-click="openPopover($event)">
                Filter
            </button>
            <label class="item-input-wrapper">
                <i class="icon ion-ios-search placeholder-icon"></i>
                <input type="search" ng-model="searchText" placeholder="Search">
            </label>
            <button class="button button-clear">
                Cancel
            </button>
        </div>
    </ion-nav-buttons>
    <ion-content>
        <div class="list">
            <a ng-repeat="property in properties" class="item item-thumbnail-left item-icon-right" href="#/app/property/{{property._id}}">
                <b-img public-id="{{property.photo}}" transformation="w_100,h_100,c_fill" alt="{{property.name}}" class="media-object img-property"></b-img>
                <h2>{{::property.name}}</h2>
                <p>{{::property.fullAddress}}</p>
                <p>{{::property.description | limitTo:200}}...</p>
                <i class="icon ion-ios-arrow-right"></i>
            </a>
        </div>
    </ion-content>
</ion-view>
