<ion-view>
    <ion-nav-title>
        <span>Pay Rent for {{::property.name}}</span>
    </ion-nav-title>
    <ion-content>
        <div class="row">
            <div class="col">
                {{::property.fullAddress}}
            </div>
        </div>
        <div class="row">
            <div class="col">
                <h4>Pay Once</h4>
                <!--  <stripe-payment-form ng-if="property._id && Auth.getCurrentUser()._id" model="{{property._id}}" user="{{Auth.getCurrentUser()._id}}" url="/api/stripe/payRentForPropertyOnce" redirect-url="/profile/{{Auth.getCurrentUser()._id}}" amount="{{property.projectedMonthlyRentalRevenue}}"></stripe-payment-form> -->
                <stripe-payment-form ng-if="property._id" model="{{property._id}}" user="{{Auth.getCurrentUser()._id}}" url="/api/stripe/payRentForPropertyOnce" redirect-url="/profile/{{Auth.getCurrentUser()._id}}" amount="{{property.projectedMonthlyRentalRevenue}}"></stripe-payment-form>
            </div>
        </div>
    </ion-content>
</ion-view>
