<ion-view>
    <ion-nav-title>
        <span>{{::property.name}}</span>
    </ion-nav-title>
    <ion-content>
        <div class="list">
            <div class="item" ng-show="::Auth.isAdmin()">
                <div ng-switch="action">
                    <!-- <div ng-switch-when="edit">
    <a href="/propertyInvestment/view/{{property._id}}" class="btn btn-default btn-lg" role="button">View</a>
</div>
 -->
                    <div ng-switch-when="view">
                        <a href="#/app/propertyInvestment/edit/{{property._id}}" class="button button-block button-positive">Edit</a>
                    </div>
                </div>
            </div>
            <div class="item item-divider">Property Evaluation</div>
            <div class="item item-text-wrap">
                <div class="table-striping">
                    <div class="row">
                        <div class="col">Anticipated hold period</div>
                        <div class="col">{{::property.yearsToHold}} years</div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <label>Property Location</label>:
                        </div>
                        <div class="col">
                            {{::property.city}}, {{::property.state}}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <label>Property Address</label>:
                        </div>
                        <div class="col">
                            {{::property.fullAddress}}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <label>Square Footage</label>:
                        </div>
                        <div class="col">
                            {{::property.sqft}}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <label>Price/Sq. Foot</label>:
                        </div>
                        <div class="col">
                            {{::property.pricePerSqft | currency:"$"}}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <label># of Bedrooms</label>:
                        </div>
                        <div class="col">
                            {{::property.beds}}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <label># of Bathrooms</label>:
                        </div>
                        <div class="col">
                            {{::property.baths}}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <label># of Seperate Units</label>:
                        </div>
                        <div class="col">
                            {{::property.units}}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <label># of Garage Spaces</label>:
                        </div>
                        <div class="col">
                            {{::property.garages}}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <label>Total Purchase Price</label>:
                        </div>
                        <div class="col">
                            {{::property.cost | currency:"$"}}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <label>Equity Invested</label>:
                        </div>
                        <div class="col" ng-switch="action">
                            <div ng-switch-when="edit">
                                <label class="item item-input">
                                    <span class="input-label">$</span>
                                    <input ng-model="property.equityInvested" type="number" step="0.01" min="0" class="form-control" size="10" ng-change="changeEquityPercent()" />
                                </label>
                                <label class="item item-input">
                                    <input ng-model="property.equityInvestedPercent" type="number" step="1" min="0" class="form-control" size="3" maxlength="3" ng-change="changeEquity()" />
                                    <span class="input-label">%</span>
                                </label>
                            </div>
                            <div ng-switch-when="view">
                                {{property.equityInvested | currency:"$"}} at {{property.equityInvestedPercent}}%
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <label>Debt Held</label>:
                        </div>
                        <div class="col">
                            {{property.debtHeld | currency:"$"}}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <label>Avg Comp Sale Price</label>:
                        </div>
                        <div class="col" ng-switch="action">
                            <div ng-switch-when="edit">
                                <label class="item item-input">
                                    <span class="input-label">$</span>
                                    <input ng-model="property.avgCompSalePrice" type="number" step="0.01" min="0" class="form-control" size="10" ng-change="calculateYearBasedData()" />
                                </label>
                            </div>
                            <div ng-switch-when="view">
                                {{property.avgCompSalePrice | currency:"$"}}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <label>Current Rental Revenue</label>:
                        </div>
                        <div class="col" ng-switch="action">
                            <div ng-switch-when="edit">
                                <label class="item item-input">
                                    <span class="input-label">$</span>
                                    <input ng-model="property.monthlyRentalRevenue" type="number" step="0.01" min="0" class="form-control" size="5" ng-change="monthlyRevenueChange()" />
                                </label>
                                <label>/month or {{property.currentRentalRevenue | currency:"$"}}/year</label>
                            </div>
                            <div ng-switch-when="view">
                                {{property.monthlyRentalRevenue | currency:"$"}}/month or {{property.currentRentalRevenue | currency:"$"}}/year
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <label>Projected Rental Revenue</label>:
                        </div>
                        <div class="col">
                            <div>
                                {{property.projectedMonthlyRentalRevenue | currency:"$"}} /month or {{property.projectedRentalRevenue | currency:"$"}}/year
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <label>Mortgage Principle & Interest</label>:
                        </div>
                        <div class="col" ng-switch="action">
                            <div ng-switch-when="edit">
                                <label class="item item-input">
                                    <span class="input-label">$</span>
                                    <input ng-model="property.mortgagePrinciple" type="number" step="0.01" min="0" class="form-control" size="5" ng-change="calculateTotalMonthlyProfits()" />
                                </label>
                            </div>
                            <div ng-switch-when="view">
                                {{property.mortgagePrinciple | currency:"$"}}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <label>Taxes</label>:
                        </div>
                        <div class="col" ng-switch="action">
                            <div ng-switch-when="edit">
                                <label class="item item-input">
                                    <span class="input-label">$</span>
                                    <input ng-model="property.taxes" type="number" step="0.01" min="0" class="form-control" size="5" ng-change="calculateTotalMonthlyProfits()" />
                                </label>
                            </div>
                            <div ng-switch-when="view">
                                {{property.taxes | currency:"$"}}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <label>Insurance</label>:
                        </div>
                        <div class="col" ng-switch="action">
                            <div ng-switch-when="edit">
                                <label class="item item-input">
                                    <span class="input-label">$</span>
                                    <input ng-model="property.insurance" type="number" step="0.01" min="0" class="form-control" size="5" ng-change="calculateTotalMonthlyProfits()" />
                                </label>
                            </div>
                            <div ng-switch-when="view">
                                {{property.insurance | currency:"$"}}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <label>Monthly Remodel Expense</label>:
                        </div>
                        <div class="col" ng-switch="action">
                            <div ng-switch-when="edit">
                                <label class="item item-input">
                                    <span class="input-label">$</span>
                                    <input ng-model="property.monthlyRemodelExpense" type="number" step="0.01" min="0" class="form-control" size="5" ng-change="calculateTotalMonthlyProfits()" />
                                </label>
                            </div>
                            <div ng-switch-when="view">
                                {{property.monthlyRemodelExpense | currency:"$"}}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <label>Monthly Management Fee</label>:
                        </div>
                        <div class="col">
                            {{property.monthlyManagementFee | currency:"$"}}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <label>Current Monthly Profit</label>:
                        </div>
                        <div class="col">
                            {{property.currentMonthlyProfit | currency:"$"}}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <label>Projected Management Fee</label>:
                        </div>
                        <div class="col">
                            {{property.projectedManagementFee | currency:"$"}}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <label>Projected Monthly Profit</label>:
                        </div>
                        <div class="col">
                            {{property.projectedMonthlyProfit| currency:"$"}}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <label>Years to Hold</label>:
                        </div>
                        <div class="col">
                            {{property.yearsToHold}}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <label>Total Value to Add to Property</label>:
                        </div>
                        <div class="col">
                            {{property.totalValueToAdd | currency:"$"}}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <label>Projected Amount of Debt Paid Off</label>:
                        </div>
                        <div class="col">
                            {{property.projectedAmountOfDebt | currency:"$"}}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <label>Projected Profit at Final Sale</label>:
                        </div>
                        <div class="col">
                            {{property.projectedProfitAtFinal | currency:"$"}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="item item-divider">Cash Flow</div>
        <div class="item item-text-wrap">
            <div class="table-striping">
                <div class="row">
                    <div class="col">Year</div>
                    <div class="col">Cash Flow</div>
                </div>
                <div class="row">
                    <div class="col">0</div>
                    <div class="col">-{{property.equityInvested | currency:"$"}}</div>
                </div>
                <div class="row">
                    <div class="col">1</div>
                    <div class="col">{{property.currentYearlyProfit | currency:"$"}}</div>
                </div>
                <div class="row">
                    <div class="col">2</div>
                    <div class="col">{{property.currentYearlyProfit | currency:"$"}}</div>
                </div>
                <div class="row">
                    <div class="col">3</div>
                    <div class="col">{{property.projectedYearlyProfit | currency:"$"}}</div>
                </div>
                <div class="row">
                    <div class="col">4</div>
                    <div class="col">{{property.projectedYearlyProfit | currency:"$"}}</div>
                </div>
                <div class="row">
                    <div class="col">5</div>
                    <div class="col">{{property.exitTotal | currency:"$"}}</div>
                </div>
                <div class="row">
                    <div class="col">Total</div>
                    <div class="col">{{property.finalTotal | currency:"$"}}</div>
                </div>
            </div>
        </div>
        <property-financial-summary></property-financial-summary>
        <property-graph projected-returns-by-year="property.projectedReturnsByYear"></property-graph>
        <div class="item" ng-if="action === 'edit'">
            <button class="button button-block button-balanced" ng-click="save()">Save</button>
        </div>
        </div>
        <!-- <div class="row">
    <div class="col">
        <stripe-payment-form ng-if="property._id && Auth.getCurrentUser()._id" model="{{property._id}}" user="{{Auth.getCurrentUser()._id}}" url="/api/stripe/investInProperty" redirect-url="/profile/{{Auth.getCurrentUser()._id}}"></stripe-payment-form>
    </div>
</div>
 -->
    </ion-content>
</ion-view>
