<ion-view>
    <ion-nav-title>
        <span>Add/Edit Property</span>
    </ion-nav-title>
    <ion-content>
        <form name="form" ng-submit="save(form)" novalidate>
            <div class="row">
                <div class="col">
                    <h3><i class="icon ion-earth"></i> Basic Info:</h3>
                    <b-input model="property.name" required="true"></b-input>
                    <b-input type="file" model="property.photo" transformation="w_100,h_100,c_fill"></b-input>
                    <b-input type="textarea" rows="6" cols="5" model="property.description"></b-input>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <h3><i class="icon ion-home"></i> Address:</h3>
                    <b-input model="property.address" required="true"></b-input>
                    <b-input model="property.city" required="true"></b-input>
                    <b-input type="select" source="states" label="State" model="property.state" require="true">
                    </b-input>
                    <b-input model="property.zip" required="true"></b-input>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <h3><i class="icon ion-ios-list-outline"></i> Property Features:</h3>
                    <b-input type="number" model="property.beds"></b-input>
                    <b-input type="number" model="property.baths"></b-input>
                    <b-input type="number" model="property.sqft" required="true"></b-input>
                    <b-input type="number" model="property.units" required="true"></b-input>
                    <b-input type="number" model="property.garages"></b-input>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <h3><i class="icon ion-stats-bars"></i> Investment Features:</h3>
                    <b-input type="number" model="property.cost" required="true"></b-input>
                    <b-input type="number" model="property.mortgagePrinciple" label="Mortgage" required="true"></b-input>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <h3><i class="icon ion-ios-list"></i> Additional Features:</h3>
                </div>
            </div>
            <div class="row" ng-repeat="featureRow in property.features">
                <div class="col">
                    <div class="list">
                        <label class="item item-input">
                            <input type="text" ng-model="featureRow[0].text">
                        </label>
                        <label class="item item-input">
                            <input type="text" ng-model="featureRow[1].text">
                        </label>
                        <label class="item item-input">
                            <input type="text" ng-model="featureRow[2].text">
                        </label>
                    </div>
                    <button class="button button-assertive" type="button" ng-click="deleteFeature(featureRow)">Delete</button>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="list">
                        <label class="item item-input">
                            <input type="text" ng-model="featureToAddRow[0].text">
                        </label>
                        <label class="item item-input">
                            <input type="text" ng-model="featureToAddRow[1].text">
                        </label>
                        <label class="item item-input">
                            <input type="text" ng-model="featureToAddRow[2].text">
                        </label>
                    </div>
                    <button class="button button-calm" type="button" ng-click="addMoreFeatures()">Add</button>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <h3><i class="icon ion-camera"></i> Photo Gallery:</h3>
                    <b-upload-multiple ng-model="property.photos" transformation="w_100,h_100,c_thumb,g_face"></b-upload-multiple>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div align="right">
                        <b-input type="submit"></b-input>
                    </div>
                    <br>
                    <br>
                </div>
            </div>
        </form>
    </ion-content>
</ion-view>
